includes:
	- phar://%rootDir%/phpstan.phar/conf/bleedingEdge.neon

parameters:
	level: 7
	paths:
		- src

	# never type is not supported: https://github.com/phpstan/phpstan/issues/2297
	earlyTerminatingMethodCalls:
		Nextras\Dbal\SqlProcessor:
			- throwInvalidValueTypeException
			- throwWrongModifierException
		Nextras\Dbal\Drivers\Sqlsrv\SqlsrvDriver:
			- throwErrors

	ignoreErrors:
		-
			message: '~Call to an undefined method .+::children\(\)\.~'
			path: "src/Bridges/SymfonyBundle/DependencyInjection/Configuration.php"
		-
			message: '~.*~'
			path: "src/compatibility.php"
